h3 {
	font-family: sans-serif;
	color: white;
	background-color: #00008B;
	border: none;
	padding: 12px;
}
table ,td {
	font-family: sans-serif;
    color: #444;
  }

input[type=text],select, textarea{
 	 width: 95%;
 	 padding: 12px;
 	 border: 1px solid #00008B;
 	 border-radius: 4px;
 	 box-sizing: border-box;
 	 resize: vertical;
}
input[type=radio]{
	padding: 12px;
	border: 1px solid #00008B;
	border-radius: 4px;
	box-sizing: border-box;


}
input[type=submit],input[type=reset]{
  	background-color: #00008B;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}
input[type=submit]:hover,input[type=reset]:hover{
	background-color: #005fdb;
}