h2 {
	font-family: sans-serif;
	color: white;
	background-color: rgba(255, 0, 0, 0.308);
	border: none;
	padding: 12px;
}

p {
	font-family: sans-serif;
	padding: 12px;
	text-align: justify;
	text-indent: 50px;

}